<style>
    body {
        background-color: rgb(249 250 251 / 0.5);
    }
</style>


<div class="min-h-screen bg-gray-50/50 py-8" x-data="deliveryDetails()">
    <div class="max-w-7xl mx-auto px-4">
        <!-- Header Section -->
        <div class="mb-8">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">Pedidos Entregados</h1>
            <p class="text-gray-600">Historial de entregas completadas</p>
        </div>

        <!-- Busqueda y Filtros -->
        <div class="bg-white rounded-xl shadow-sm p-4 mb-6">
            <div class="flex flex-wrap gap-4 items-center justify-between">
                <div class="relative flex-grow max-w-md">
                    <input type="text" id="searchInput"
                        class="w-full pl-12 pr-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#0891b2] focus:border-transparent transition-all"
                        placeholder="Buscar por cliente o numero de orden...">
                    <i class="fas fa-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
                </div>
                <div class="flex flex-wrap md:gap-3 gap-2">
                    <select
                        class="bg-gray-50 border border-gray-200 rounded-lg px-4 py-2 text-gray-700 md:text-base text-sm">
                        <option>Todos los pagos</option>
                        <option>Efectivo</option>
                        <option>Yape</option>
                    </select>
                    <select
                        class="bg-gray-50 border border-gray-200 rounded-lg px-4 py-2 text-gray-700 md:text-base text-sm">
                        <option>Este mes</option>
                        <option>Última semana</option>
                        <option>Hoy</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="grid md:grid-cols-2 gap-6">
            <article th:each="delivery : ${deliveries}"
                class="bg-white rounded-xl shadow-sm hover:shadow-md transition-all duration-300 overflow-hidden">
                <div class="p-6">
                    <!-- Header de la tarjeta -->
                    <div class="flex justify-between items-start mb-4">
                        <div class="flex items-center gap-3">
                            <div class="bg-[#0891b2]/10 p-2 rounded-lg">
                                <i class="fas fa-receipt text-[#0891b2]"></i>
                            </div>
                            <div>
                                <p class="text-xs text-gray-500">Orden</p>
                                <h3 class="font-medium text-gray-800" th:text="${'#' + delivery.orderNumber}"></h3>
                            </div>
                        </div>
                        <span class="px-3 py-1 bg-emerald-50 text-emerald-600 rounded-full text-xs font-medium"
                            th:text="${delivery.status}">
                        </span>
                    </div>

                    <!-- Detalles -->
                    <div class="space-y-3">
                        <div class="flex items-center gap-2 text-sm text-gray-600">
                            <i class="fas far fa-user w-4"></i>
                            <span class="font-medium text-gray-800" th:text="${delivery.customerName}"></span>
                        </div>
                        <div class="flex items-center gap-2 text-sm text-gray-600">
                            <i class="fas fa-calendar-alt w-4"></i>
                            <span th:text="${delivery.completedDate}"></span>
                        </div>
                        <div class="flex items-center gap-2 text-sm text-gray-600">
                            <i class="fas fa-phone w-4"></i>
                            <span th:text="${delivery.phoneNumber}"></span>
                        </div>
                        <div class="flex items-center gap-2 text-sm text-gray-600">
                            <i class="fas fa-money-bill w-4"></i>
                            <span th:text="${delivery.paymentMethod}"></span>
                        </div>
                    </div>

                    <!-- Precio y Acciones -->
                    <div class="mt-4 pt-4 border-t border-gray-100 flex justify-between items-center">
                        <div>
                            <p class="text-sm text-gray-500">Total Pagado</p>
                            <p class="text-lg font-bold text-[#0891b2]" th:text="${'S/ ' + delivery.totalAmount }"></p>
                        </div>
                        <button th:data-id="${delivery.id}" @click="loadDeliveryDetails($el.dataset.id)"
                            class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200 flex items-center gap-2 transition-colors">
                            <i class="fas fa-eye"></i>
                            <span>Ver Detalles</span>
                        </button>
                    </div>
                </div>
            </article>
        </div>

        <!-- Modal -->
        <div x-show="openModal" x-cloak="openModal" x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 bg-gray-800/50 flex items-center justify-center z-50 p-4">

            <div class="bg-white rounded-xl shadow-lg w-full max-w-2xl max-h-[90vh] flex flex-col"
                @click.away="openModal = false">
                <!-- Header  -->
                <div class="p-6 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-3">
                            <div class="bg-[#0891b2]/10 p-3 rounded-lg">
                                <i class="fas fa-receipt text-[#0891b2] text-xl"></i>
                            </div>
                            <div>
                                <h3 class="text-lg font-semibold text-gray-800"
                                    x-text="'Orden #' + (delivery?.orderNumber || '')"></h3>
                                <p class="text-sm text-gray-500">Detalles del pedido entregado</p>
                            </div>
                        </div>
                        <button @click="openModal = false" class="text-gray-400 hover:text-gray-600">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>


                <div class="overflow-y-auto flex-1 p-6">
                    <!-- informacion del Cliente -->
                    <article class="bg-gray-50 rounded-lg p-4 mb-6">
                        <div class="grid md:grid-cols-2 gap-4">
                            <div class="space-y-2">
                                <div class="flex items-center gap-2">
                                    <i class="fas fa-user text-gray-400"></i>
                                    <span class="text-sm font-medium text-gray-700"
                                        x-text="delivery?.customerName"></span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <i class="fas fa-phone text-gray-400"></i>
                                    <span class="text-sm text-gray-600" x-text="delivery?.phoneNumber"></span>
                                </div>
                            </div>
                            <div class="space-y-2">
                                <div class="flex items-center gap-2">
                                    <i class="fas fa-calendar text-gray-400"></i>
                                    <span class="text-sm text-gray-600"
                                        x-text="'Entregado: ' + (delivery?.completedDate || '')"></span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <i class="fas fa-money-bill text-gray-400"></i>
                                    <span class="text-sm text-gray-600"
                                        x-text="'Método Pago: ' + (delivery?.paymentMethod || '')"></span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Lista -->
                    <div class="space-y-4">
                        <template x-for="item in delivery?.items" :key="item.name">
                            <article class="bg-gray-50 rounded-lg p-4 hover:bg-gray-100 transition-colors">
                                <div class="flex items-center justify-between mb-3">
                                    <div class="flex items-center gap-3">
                                        <div class="bg-blue-100 p-2 rounded-lg">
                                            <i class="fas fa-tshirt text-blue-600"></i>
                                        </div>
                                        <div>
                                            <h4 class="font-medium text-gray-800" x-text="item.name"></h4>
                                            <p class="text-sm text-gray-500" x-text="item.serviceType"></p>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <p class="font-medium text-gray-800" x-text="'S/ ' + item.price.toFixed(2)"></p>
                                        <p class="text-sm text-gray-500"
                                            x-text="item.quantity + ' unidad' + (item.quantity > 1 ? 'es' : '')"></p>
                                    </div>
                                </div>
                                <div class="text-sm flex gap-1 border-t border-gray-200 pt-2">
                                    <span class="font-medium">Notas:</span>
                                    <p class="text-gray-500 text-nowrap text-ellipsis overflow-hidden"
                                        x-text="item.notes"></p>
                                </div>
                            </article>
                        </template>
                    </div>
                </div>

                <!-- Footerr -->
                <footer class="p-6 border-t">
                    <div class="flex justify-between items-center">
                        <div class="space-y-1">
                            <p class="text-sm text-gray-500">Atendido por</p>
                            <div class="flex items-center gap-2">
                                <div class="h-8 w-8 rounded-full bg-indigo-100 flex items-center justify-center">
                                    <i class="fas fa-user text-indigo-600"></i>
                                </div>
                                <span class="text-sm font-medium text-gray-700" x-text="delivery?.employeeName"></span>
                            </div>
                        </div>
                        <div class="text-right">
                            <p class="text-sm text-gray-500">Total Pagado</p>
                            <p class="text-2xl font-bold text-[#0891b2]"
                                x-text="'S/ ' + (delivery?.totalAmount || 0).toFixed(2)"></p>
                        </div>
                    </div>
                    <div class="flex justify-end gap-3 mt-4">
                        <button
                            class="px-4 py-2 bg-[#0891b2] text-white rounded-lg hover:bg-[#0891b2]/90 flex items-center gap-2">
                            <i class="fas fa-print"></i>
                            <span>Imprimir</span>
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="/js/deliveries/funcionality.js"></script>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('deliveryDetails', () => ({
            openModal: false,
            delivery: null,
            async loadDeliveryDetails(id) {
                if (!id) return;
                try {
                    const response = await fetch(`/deliveries/completed/details/${id}`);
                    if (response.ok) {
                        this.delivery = await response.json();
                        this.openModal = true;
                    }
                } catch (error) {
                    console.error('Error loading delivery details:', error);
                }
            },

        }))
    });
</script>