<link rel="stylesheet" href="/css/deliveries/index.css">


<div class="container">

    <div class="h-full min-h-[500px] w-ful">
        <!--Encabezado-->
        <div class="form-header">
            <h2 class="text-3xl">Entregar Pedidos</h2>
        </div>
        <!--campo de busqueda de entregas-->
        <div class="icon">
            <input type="text" class="input-search w-full lg:w-1/2" id="searchInput" placeholder="Buscar Usuario...">
            <i class="fas fa-search"></i>
        </div>

        <div class="container-card">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card" data-usuario="flores" data-bs-toggle="modal" data-bs-target="#detallesModal">
                        <div class="card-body">
                            <div class="text-end mb-3">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <div class="d-flex justify-content-between flex-wrap">
                                <div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-calendar"></i></div>
                                        <div class="detail-text">09/12/2024</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-receipt"></i></div>
                                        <div class="detail-text">B0003</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-user"></i></div>
                                        <div class="detail-text">Flores solano russel 2</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-phone"></i></div>
                                        <div class="detail-text">99267698</div>
                                    </div>
                                </div>
                                <div class="detail-price text-center">
                                    <div class="mb-2">
                                        <small class="earring-service">Pendiente</small>
                                    </div>
                                    <div>
                                        <small class="text-muted">Pagado</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                    <div class="debt">
                                        <small class="text-muted">Por cobrar</small>
                                        <p class="price">0$</p>
                                    </div>
                                    <div class="payment">
                                        <small class="text-muted">Total venta</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card" data-usuario="flores" data-bs-toggle="modal" data-bs-target="#detallesModal">
                        <div class="card-body">
                            <div class="text-end mb-3">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <div class="d-flex justify-content-between flex-wrap">
                                <div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-calendar"></i></div>
                                        <div class="detail-text">09/12/2024</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-receipt"></i></div>
                                        <div class="detail-text">B0003</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-user"></i></div>
                                        <div class="detail-text">Flores solano Russel</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-phone"></i></div>
                                        <div class="detail-text">99267698</div>
                                    </div>
                                </div>
                                <div class="detail-price text-center">
                                    <div class="mb-2">
                                        <small class="earring-service">Pendiente</small>
                                    </div>
                                    <div>
                                        <small class="text-muted">Pagado</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                    <div class="debt">
                                        <small class="text-muted">Por cobrar</small>
                                        <p class="price">0$</p>
                                    </div>
                                    <div class="payment">
                                        <small class="text-muted">Total venta</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Modal para visualizar detalles del servicio-->
<div class="modal fade" aria-hidden="true" aria-labelledby="modalDetallesServicio" tabindex="-1" id="detallesModal">
    <div class="modal-dialog">
        <div class="modal-content h-[550px]">
            <div class="modal-header">
                <h2>Detalles del servicio</h2>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="overflow-auto h-[410px] px-2 pb-2 flex gap-2 flex-col">
                    <article
                        class="bg-white border border-blue-200  rounded-lg  p-6 hover:bg-gray-50 hover:shadow-xl  transition-all duration-300 ">
                        <div class="flex justify-end mb-4">
                            <span
                                class="bg-orange-500 text-white px-3 py-1 rounded-full text-xs font-semibold">Pendiente</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Servicio</p>
                            <span class="text-gray-600 text-sm">Lavado completo</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Precio por unidad</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Cantidad</p>
                            <span class="text-gray-600 text-sm">1</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Detalles</p>
                            <span class="text-gray-600 text-sm">Marca Nike</span>
                        </div>
                        <div class="flex justify-end items-center gap-4">
                            <p class="text-base font-medium text-gray-800">Total</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                    </article>

                    <article
                        class="bg-white border border-blue-200  rounded-lg  p-6 hover:bg-gray-50 hover:shadow-xl  transition-all duration-300 ">
                        <div class="flex justify-end mb-4">
                            <span
                                class="bg-orange-500 text-white px-3 py-1 rounded-full text-xs font-semibold">Pendiente</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Servicio</p>
                            <span class="text-gray-600 text-sm">Lavado completo</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Precio por unidad</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Cantidad</p>
                            <span class="text-gray-600 text-sm">1</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Detalles</p>
                            <span class="text-gray-600 text-sm">Marca Nike</span>
                        </div>
                        <div class="flex justify-end items-center gap-4">
                            <p class="text-base font-medium text-gray-800">Total</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                    </article>
                </div>
                <div class="flex justify-center mt-3">
                    <button
                        class="border border-blue-950 p-2 text-blue-950 rounded-lg hover:bg-[#2ca060] hover:text-white transition duration-300">
                        <i class="fas fa-check-circle"></i>
                        Marcar Como Entregado
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/deliveries/funcionality.js"></script>