<link rel="stylesheet" href="/css/deliveries/index.css">


<div x-data="{ openModal: false }">

    <div>
        <div class="h-full min-h-[500px] w-ful">
            <!--Encabezado-->
            <div class="form-header">
                <h2 class="text-3xl">Entregar Pedidos</h2>
            </div>
            <!--campo de busqueda de entregas-->
            <div class="icon">
                <input type="text" class="input-search w-full lg:w-1/2" id="searchInput"
                    placeholder="Buscar Usuario...">
                <i class="fas fa-search"></i>
            </div>

            <div class="container-card w-full ">
                <div class="px-3 gap-4 grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 "> 
                    <div class="card w-full" data-usuario="flores" @click="openModal = true">
                        <div class="lg:p-5 md:p-4 p-5 sm:p-0">
                            <div class="flex justify-end mb-3">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <div class="flex justify-between flex-wrap">
                                <div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-calendar"></i></div>
                                        <div class="detail-text">09/12/2024</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-receipt"></i></div>
                                        <div class="detail-text">B0003</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-user"></i></div>
                                        <div class="detail-text">Flores solano russel 2</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-phone"></i></div>
                                        <div class="detail-text">99267698</div>
                                    </div>
                                </div>
                                <div class="detail-price text-center">
                                    <div class="mb-2">
                                        <small class="earring-service">Pendiente</small>
                                    </div>
                                    <div>
                                        <small class="text-muted">Pagado</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                    <div class="debt">
                                        <small class="text-muted">Por cobrar</small>
                                        <p class="price">0$</p>
                                    </div>
                                    <div class="payment">
                                        <small class="text-muted">Total venta</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card w-full" data-usuario="flores" @click="openModal = true">
                        <div class="lg:p-5 md:p-4 p-5 sm:p-0">
                            <div class="text-end mb-3">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <div class="flex justify-between flex-wrap">
                                <div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-calendar"></i></div>
                                        <div class="detail-text">09/12/2024</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-receipt"></i></div>
                                        <div class="detail-text">B0003</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-user"></i></div>
                                        <div class="detail-text">Flores solano Russel</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="icon-container"><i class="fas fa-phone"></i></div>
                                        <div class="detail-text">99267698</div>
                                    </div>
                                </div>
                                <div class="detail-price text-center">
                                    <div class="mb-2">
                                        <small class="earring-service">Pendiente</small>
                                    </div>
                                    <div>
                                        <small class="text-muted">Pagado</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                    <div class="debt">
                                        <small class="text-muted">Por cobrar</small>
                                        <p class="price">0$</p>
                                    </div>
                                    <div class="payment">
                                        <small class="text-muted">Total venta</small>
                                        <p class="price">1299 $</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div x-show="openModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
        x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200"
        x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click="openModal = false">
        <div class="bg-white p-6 rounded-lg shadow-lg lg:max-w-lg lg:w-full sm:w-11/12 w-11/12 relative h-[550px]">
            <!--Header--> 
            <div class="flex justify-between mb-2">
                <div class="flex items-center flex-grow ml-2">
                    <h2>Detalles del servicio</h2>
                </div>
                <button @click="openModal = false" class="bg-slate-50 px-2 py-1">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <!--body-->
            <div>
                <div class="overflow-auto h-[410px] px-2 pb-2 flex gap-2 flex-col">
                    <article
                        class="bg-white border border-blue-200  rounded-lg  p-6 hover:bg-gray-50 hover:shadow-xl  transition-all duration-300 ">
                        <div class="flex justify-end mb-4">
                            <span
                                class="bg-orange-500 text-white px-3 py-1 rounded-full text-xs font-semibold">Pendiente</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Servicio</p>
                            <span class="text-gray-600 text-sm">Lavado completo</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Precio por unidad</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Cantidad</p>
                            <span class="text-gray-600 text-sm">1</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Detalles</p>
                            <span class="text-gray-600 text-sm">Marca Nike</span>
                        </div>
                        <div class="flex justify-end items-center gap-4">
                            <p class="text-base font-medium text-gray-800">Total</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                    </article>

                    <article
                        class="bg-white border border-blue-200  rounded-lg  p-6 hover:bg-gray-50 hover:shadow-xl  transition-all duration-300 ">
                        <div class="flex justify-end mb-4">
                            <span
                                class="bg-orange-500 text-white px-3 py-1 rounded-full text-xs font-semibold">Pendiente</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Servicio</p>
                            <span class="text-gray-600 text-sm">Lavado completo</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Precio por unidad</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Cantidad</p>
                            <span class="text-gray-600 text-sm">1</span>
                        </div>
                        <div class="flex justify-between items-center mb-2">
                            <p class="text-base font-medium text-gray-800">Detalles</p>
                            <span class="text-gray-600 text-sm">Marca Nike</span>
                        </div>
                        <div class="flex justify-end items-center gap-4">
                            <p class="text-base font-medium text-gray-800">Total</p>
                            <span class="text-gray-600 text-sm">$10</span>
                        </div>
                    </article>
                </div>
                <div class="flex justify-center mt-3">
                    <button
                        class="border border-blue-950 p-2 text-blue-950 rounded-lg hover:bg-[#2ca060] hover:text-white transition duration-300">
                        <i class="fas fa-check-circle"></i>
                        Marcar Como Entregado
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/deliveries/funcionality.js"></script>