:root {
    --primary-color: #3b82f6;
    --text-color: #374151;
}


.input-search {
    border: none;
    background: #f3f3f6;
    padding: 0.8rem;
    padding-left: 55px;
    border-radius: 45px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin-right: 15px; 
}

.input-search:focus {
    outline: none;
}

.input-search:focus+i { 
    background: #ec5e95;
}

.icon {
    position: relative; 
}

.icon i {
    position: absolute;
    font-size: 20px;
    left: 8px;
    top: 50%;
    color: #ffffff;
    background: #ea4c89;
    transition: all 0.3s ease-in-out;
    padding: 0.6rem;
    border-radius: 1.5rem;
    transform: translateY(-50%);
}


.btn-new-user {
    width: 100px;
    padding: 0.625rem 0;
    padding-right: 2rem;
    background-color: white;
    color: #434345;
    border: 1.5px solid #eaeaea;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: 630;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.btn-new-user:hover {
    background-color: #f4f4f5;
    color: #434345;
}

.btn-new-user i {
    margin-left: 1rem;
    margin-right: 0.4rem;
}

.list {
    list-style: none;
    overflow: hidden;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 1.6rem 1rem;
    background-color: white;
    color: #164b5c;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1.5px solid #eaeaea;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.list-item:hover {
    background-color: #eef2ff;
}

.user-icon {
    margin-right: 0.75rem;
    color: #6b7280;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.list-item:hover .user-icon {
    color: var(--primary-color);
    background-color: #e0e7ff;
}