<link rel="stylesheet" href="/css/services-laundry/service-selection.css">

<div>
    <div class="flex justify-center">
        <div class="w-11/12 md:w-11/12 lg:w-11/12">
            <div class="main-container">
                <!--Encabezado-->
                <div class="form-header">
                    <h2 class="text-sm lg:text-2xl">Servicio de Lavanderia</h2>
                </div>

                <div class="category-container mt-3">
                    <!-- Pestañas de navegacion -->
                    <ul class="nav nav-pills gap-2 flex" id="categoriasTabsButton">
                        <div th:each="categoria : ${categorias}">
                            <li class="nav-item">
                                <button type="button" th:text="${categoria.nombre}" class="nav-link"
                                    th:value="${categoria.nombre}">
                                </button>
                            </li>
                        </div>
                    </ul>
                </div>

                <!-- Busqueda de servicio -->
                <div class="icon mb-4 mt-4">
                    <input type="text" class="input-search" id="searchInput" placeholder="Buscar Servicio...">
                    <i class="fas fa-search"></i>
                </div>

                <!-- Tabs -->
                <div class="tab-container" id="card-container">
                    <div th:each="categoria : ${categorias}">
                        <!--Pestaña-->
                        <div class="tab-panes hidden" th:id="${categoria.nombre}">
                            <!--Servicios-->
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 lg:gap-3 sm:gap-1 md:gap-2">

                                <div th:each="servicio : ${categoria.servicios}">
                                    <div class="card" th:data-servicio="${servicio.nombre}">
                                        <div class="flex justify-between">
                                            <label class="title-service" th:text="${servicio.nombre}"></label>
                                            <span class="card-price">$5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------->
                        </div>
                    </div>
                </div>

                <!-- Resumen del servicio -->
                <div id="resumenServicio" class="summary-container hidden">
                    <h4 class="title-summary-service" id="servicio">Resumen del Servicio</h4>

                    <div class="service-summary">
                        <p class="label">Servicio:</p>
                        <span id="detalleServicio" class="value">Lavado completo</span>
                    </div>

                    <div class="service-summary">
                        <p class="label">Precio por unidad:</p>
                        <span id="precioUnidad" class="value">$10</span>
                    </div>

                    <div class="service-summary quantity-control">
                        <p class="label">Cantidad:</p>
                        <div class="counter">
                            <button type="button" class="btn-decrement" id="btnDecrement">-</button>
                            <input type="text" id="spinner" value="1" readonly min="1" max="20" data-step="1">
                            <button type="button" class="btn-increment" id="btnIncrement">+</button>
                        </div>
                    </div>

                    <div class="service-summary details-control">
                        <p class="label">Detallar:</p>
                        <input type="text" id="detalles" class="input-details" maxlength="200"
                            placeholder="Detallar Marca - Color">
                    </div>

                    <div class="service-summary total-control">
                        <p class="label">Total:</p>
                        <span id="total" class="value">$5.00</span>
                    </div>
                </div>

                <div class="flex gap-2 justify-center">
                    <!--button para cancelar el registro -->
                    <button type="button" class="btn-cancelar sm:text-sm" id="btnCancelarRegistroServicio">
                        Cancelar
                    </button>
                    <!--button para Realizar realizar registro-->
                    <button type="button" class="btn-submit" id="btnRealizarRegistrarServicio">
                        <i class="fas fa-check-circle"></i> Registrar
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>





<script src="/js/services-laundry/service-selection/funcionality.js"></script>