<link rel="stylesheet" href="/css/client/register-client.css">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-9 mt-5 mb-5">
            <div class="main-container">
                <div class="form-header">
                    <h2>Registrar Nuevo Cliente</h2>
                </div>

                <form class="needs-validation" novalidate>
                    <div class="input-icon form-floating mb-3">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                        <label for="nombre" class="required ">Nombre y Apellido</label>
                        <i class="fas fa-user"></i>
                    </div>

                    <div class="input-icon form-floating">
                        <input type="number" class="form-control" required id="telefono" placeholder="Teléfono">
                        <label for="telefono ps-5">Teléfono</label>
                        <i class="fas fa-phone"></i>
                    </div>

                    <label class="form-label required">Género</label>
                    <div class="gender-group">
                        <button type="button" class="button-outline">
                            <i class="fas fa-venus me-2"></i> Femenino
                        </button>
                        <button type="button" class="button-outline">
                            <i class="fas fa-mars me-2"></i> Masculino
                        </button>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="observaciones" style="height: 100px"
                            placeholder="Observaciones"></textarea>
                        <label for="observaciones">Observaciones de cliente</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" readonly id="cod_cliente" placeholder="Codigo Cliente">
                        <label for="cod_cliente">Codigo Cliente</label>
                    </div>

                    <div class="input-icon form-floating mb-3">
                        <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                        <label for="direccion">Dirección</label>
                        <i class="fas fa-map-marker-alt"></i>
                    </div>

                    <div class="input-icon form-floating mb-3">
                        <input type="text" class="form-control" id="distrito" placeholder="Distrito">
                        <label for="distrito">Distrito</label>
                        <i class="fas fa-city"></i>
                    </div>
 
                    <button type="submit" class="btn-submit">
                        <i class="fas fa-check-circle me-2"></i> Registrar Cliente
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Apariencia-->
<script src="/js/client/apparence.js"></script>
<!--Funcionalidad-->
<script src="/js/client/funcionality.js"></script>