<style>
    body {
        background-color: white;
    }
</style>
<div class="p-4">
    <div class="">
        <div class="border border-gray-200 rounded-md min-h-[80vh]">
            <div class="p-5 pt-8 lg:p-8 lg:pt-10 min-h-[80vh]">
                <div class="flex justify-between gap-7 flex-wrap">
                    <div>
                        <h2 class="font-semibold text-lg mb-1">Gasto y Recaudo</h2>
                        <p class="text-gray-500 text-base">Registra un nuevo Gasto para ello seleccione un tipo de gasto
                        </p>
                    </div>
                    <div>
                        <a class="btn btn-primary text-white px-3 py-2">
                            <i class="far fa-plus-square"></i>
                            <span>Agregar</span>
                        </a>  
                        <button class="btn btn-outline btn-info">Info</button>
<button class="btn btn-outline btn-success">Success</button>
<button class="btn btn-outline btn-warning">Warning</button>
<button class="btn btn-outline btn-error">Error</button>

<button class="btn btn-active">Default</button>
<button class="btn btn-active btn-neutral">Neutral</button>
<button class="btn btn-active btn-primary">Primary</button>
<button class="btn btn-active btn-secondary">Secondary</button>
<button class="btn btn-active btn-accent">Accent</button>
<button class="btn btn-active btn-ghost">Ghost</button>
<button class="btn btn-active btn-link">Link</button>
                    </div>
                </div>
                <div class="mt-10 overflow-x-auto min-h-[70vh]">
                    <table class="w-full">
                        <thead>
                            <tr class="border-b border-gray-300 text-gray-700">
                                <th class="text-start font-semibold min-w-24 flex-grow py-4">Fecha</th>
                                <th class="text-start font-semibold min-w-24 flex-grow py-4">Total</th>
                                <th class="text-start font-semibold min-w-24 flex-grow py-4">Descripcion</th>
                                <th class="text-start font-semibold min-w-40 flex-grow py-4">Tipo de gasto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b border-gray-200 text-gray-600 text-base font-normal">
                                <td class="py-3 text-sm">12/05/2024</td>
                                <td class="py-3 text-sm">1200</td>
                                <td class="py-3 text-sm">Detergente Suavisante</td>
                                <td class="py-3 text-sm">Materiales</td>
                            </tr>
                            <tr class="border-b border-gray-200 text-gray-600 text-base font-normal">
                                <td class="py-3 text-sm">12/05/2024</td>
                                <td class="py-3 text-sm">1200</td>
                                <td class="py-3 text-sm">Detergente Suavisante</td>
                                <td class="py-3 text-sm">Materiales</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

