<link rel="stylesheet" href="/css/home/index.css">

  
<div class="container">
    <div class="container mb-5">
        <div class="dashboard-header">
            <h1 class="dashboard-title">Luxury Laundry - Panel de Operaciones</h1>
        </div>
        <div class="grid">
            <!--Seccion para La realizacion de venta -->
            <a class="text-decoration-none" href="/services">
                <div class="service-card">

                    <div class="icon-card">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="card-subtitle">Registrar Venta</div>
                    <ul class="feature-list">
                        <li class="feature-item">Registrar transacciones de servicios</li>
                    </ul>

                </div>
            </a>
            <!--Seccion de entrega de pedidos-->
            <a class="text-decoration-none" href="/deliveries">
                <div class="service-card">
                    <div class="icon-card">
                        <i class="fas fa-user"></i>
                        <i class="fas fa-box-open"></i>
                    </div>
                    <div class="card-subtitle">Entrega de Pedidos</div>
                    <ul class="feature-list">
                        <li class="feature-item">Gestionar entregas prioritarias</li>
                    </ul>
                </div>
            </a>

            <div class="service-card">
                <div class="icon-card">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="card-subtitle">Control de Gasto</div>
                <ul class="feature-list">
                    <li class="feature-item">Acceso a ventas y gastos</li>
                </ul>
            </div>

            <div class="service-card" href="">
                <div class="icon-card">
                    <i class="fas fa-star"></i>
                </div>
                <div class="card-subtitle">Detalles de Ventas</div>
                <ul class="feature-list">
                    <li class="feature-item">Detalles de las ventas </li>
                </ul>
            </div>

            <div class="service-card" href="">
                <div class="icon-card">
                    <i class="fas fa-cash-register"></i>
                </div>
                <div class="card-subtitle">Cierre de Caja</div>
                <ul class="feature-list">
                    <li class="feature-item">Cierre de operaciones diarias</li>
                </ul>
            </div>

            <div class="service-card" href="">
                <div class="icon-card">
                    <i class="fas fa-users"></i>
                </div>
                <div class="card-subtitle">Gestión de Clientes</div>
                <ul class="feature-list">
                    <li class="feature-item">Revisión y actualización de clientes</li>
                </ul>
            </div>

            <div class="service-card" href="">
                <div class="icon-card">
                    <i class="fas fa-check-circle"></i>
                </div>
                <div class="card-subtitle">Pedidos Entregados</div>
                <ul class="feature-list">
                    <li class="feature-item">Registro de pedidos completados</li>
                </ul>
            </div>

            <div class="service-card" href="">
                <div class="icon-card">
                    <i class="fab fa-whatsapp" style="color:green;"></i>
                </div>
                <div class="card-subtitle">Comunicación WhatsApp</div>
                <ul class="feature-list">
                    <li class="feature-item">WhatsApp de Usuarios</li>
                </ul>
            </div>

            <div class="service-card" href="">
                <div class="icon-card">
                    <i class="fas fa-exchange-alt"></i>
                </div>
                <div class="card-subtitle">Recojo y Entrega</div>
                <ul class="feature-list">
                    <li class="feature-item">Coordina el recojo y entrega de pedidos</li>
                </ul>
            </div>
        </div>
    </div>
</div>