<style>
    body {
        background-color: white;
    }
</style>
<div class="p-4">
    <div class="">
        <div class="border border-gray-200 rounded-md min-h-[80vh]">
            <div class="p-5 pt-8 lg:p-8 lg:pt-10 min-h-[80vh]">
                <div class="flex flex-wrap">
                    <div>
                        <h2 class="font-semibold text-lg mb-1">Detalles Ventas</h2>
                        <p class="text-gray-500 text-base">
                            informacion de los servicios Realizados
                        </p>
                    </div>
                </div>
                <div class="mt-10 overflow-x-auto min-h-[70vh]">
                    <table class="w-full">
                        <thead>
                            <tr class="border-b border-gray-300 text-gray-700">
                                <th class="text-start font-semibold min-w-24 flex-grow py-4">Fecha</th>
                                <th class="text-start font-semibold min-w-24 flex-grow py-4">Estado</th>
                                <th class="text-start font-semibold min-w-24 flex-grow py-4">Cliente</th>
                                <th class="text-start font-semibold min-w-40 flex-grow py-4">Total servicio</th>
                                <th class="text-start font-semibold min-w-40 flex-grow py-4">Pago realizado</th>
                                <th class="text-start font-semibold min-w-40 flex-grow py-4">Deuda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b border-gray-200 text-gray-600 text-base font-normal">
                                <td class="py-3 text-sm">12/05/2024</td>
                                <td class="py-3 text-sm">1200</td>
                                <td class="py-3 text-sm">Detergente Suavisante</td>
                                <td class="py-3 text-sm">Materiales</td>
                            </tr>
                            <tr class="border-b border-gray-200 text-gray-600 text-base font-normal">
                                <td class="py-3 text-sm">12/05/2024</td>
                                <td class="py-3 text-sm">1200</td>
                                <td class="py-3 text-sm">Detergente Suavisante</td>
                                <td class="py-3 text-sm">Materiales</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>